<html>
    <head>
        <title>Objectives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_objectives"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 5: Merchandising Operations<br>
        <strong>Objectives</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <a href= "#modal" class="modal-trigger modal-style btn" id= "createlightbulbbutton"><img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></a>
        <div id="modal" class="modal">
          <div class="modal-content">
        <h4>Create A Lightbulb</h4>
        <form action="/webliographyentries/post_to_api" method="POST">
        <p><label for="summary">Summarize a concept:</label></p>
        <input id='summary' type="text" name="lightbulb[summary]">
        <p><label for="video_url">Was there a video that helped?</label></p>
        <input id='video_url' type="text" name="lightbulb[article_url]">
        <p><label for="article_url">Was there an article that helped?</label></p>
        <input id='article_url'type="text" name="lightbulb[article_url]">
        <p><label for="lesson_id">Which Lesson number? (please select from Lessons from 1 - 13)</label></p>
        <input id='lesson_id'type="text" name="lightbulb[lesson_id]">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><input type=submit></a>
        </form>
          </div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_05.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top"><strong>Lesson 5 Objectives</strong></div>
        <p class="bullet">At the end of this lesson, you will be able to:</p>
        <ul class="bullet">
            <li>Define  terms related to business accounting</li>
            <li>Identify  the elements of the operating cycle of a merchandising business</li>
            <li>Describe  the differences and similarities between a service and a retail operation</li>
            <li>Explain  how an account can be adjusted and closed</li>
            <li>Account  for the purchase and sale of inventory</li>
            <li>Adjust  and close the accounts of a business</li>
            <li>Prepare  financial statements</li>
            <li>Calculate  a business's profit based on its net sales, cost of goods sold, and gross  profit</li>
            <li>Identify  ratios used to evaluate a business's operations</li>
            <li>Use gross profit percentage and inventory  turnover to evaluate a business</li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
<html>
    <head>
        <title>Checklist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_checklist"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 5: Merchandising Operations<br>
        <strong>Checklist</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_05.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top">Lesson 5 Checklist</div>
        <p class="bullet">Complete the following tasks:</p>
        <ul class="bullet">
            <li>Read  in your textbook, <em>Accounting</em>,  9th edition:
            <ul class="bullet">
                <li>Chapter  5, "Merchandising Operations" (pp. 255-310)</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>View  the online Lesson Presentation</li>
        </ul>
        <ul class="bullet">
            <li>Participate  in the Discussion Forum:
            <ul class="bullet">
                <li>Inventory  System</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>Complete these Assignments:
            <ul class="bullet">
                <li>Assignment  5.1: Merchandising Operations</li>
                <li>Assignment  5.2: Merchandising Problems and Cases</li>
                <li>Assignment  5.3: Quiz Lesson 5</li>
            </ul>
            </li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
