<html>
    <head>
        <title>Objectives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_objectives"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 9: Receivables<br>
        <strong>Objectives</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_09.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top"><strong>Lesson 9 Objectives</strong></div>
        <p class="bullet">At the end of this lesson, you will be able to:</p>
        <ul class="bullet">
            <li>Define  terms used for notes receivable</li>
            <li>Assess  how internal control over collections can be achieved</li>
            <li>Design  internal controls for receivables</li>
            <li>Identify  accounting information used for decision making</li>
            <li>Describe  the allowance method and the direct write-off method used in accounting</li>
            <li>Use  the allowance method to account for uncollectibles by the percent–of-sales and  aging–of-accounts methods</li>
            <li>Use  the direct write-off method to account for uncollectibles</li>
            <li>Account  for notes receivable</li>
            <li>Report  receivables on the balance sheet</li>
            <li>Use the acid-test ratio and days' sales in  receivables to evaluate a company </li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
<html>
    <head>
        <title>Checklist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_checklist"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 9: Receivables<br>
        <strong>Checklist</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_09.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top">Lesson 9 Checklist</div>
        <p class="bullet">Complete the following tasks:</p>
        <ul class="bullet">
            <li>Read  in your textbook, <em>Accounting</em>,  9th edition:
            <ul class="bullet">
                <li>Chapter  8, "Receivables" (pp. 405-451)</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>View  the online Lesson Presentation</li>
        </ul>
        <ul class="bullet">
            <li>Participate  in the Discussion Forum:
            <ul class="bullet">
                <li>Ethics  in Accounts Receivable</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>Complete these Assignments:
            <ul class="bullet">
                <li>Assignment  9.1: Receivables</li>
                <li>Assignment 9.2: Receivables Problems </li>
                <li>Assignment 9.3: Quiz Lesson 9</li>
            </ul>
            </li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
