<html>
    <head>
        <title>Objectives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_objectives"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 1: Accounting &amp; the Business Environment<br>
        <strong>Objectives</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <a href= "#modal" class="modal-trigger modal-style btn" id= "createlightbulbbutton"><img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></a>
        <div id="modal" class="modal">
          <div class="modal-content">
        <h4>Create A Lightbulb</h4>
        <form action="/webliographyentries/post_to_api" method="POST">
        <p><label for="summary">Summarize a concept:</label></p>
        <input id='summary' type="text" name="lightbulb[summary]">
        <p><label for="video_url">Was there a video that helped?</label></p>
        <input id='video_url' type="text" name="lightbulb[article_url]">
        <p><label for="article_url">Was there an article that helped?</label></p>
        <input id='article_url'type="text" name="lightbulb[article_url]">
        <p><label for="lesson_id">Which Lesson number? (please select from Lessons from 1 - 13)</label></p>
        <input id='lesson_id'type="text" name="lightbulb[lesson_id]">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><input type=submit></a>
        </form>
          </div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_01.jpg" class="margin_right" width="360" height="350">
        <div class="title_blue_top"><strong>Lesson 1 Objectives</strong></div>
        <p class="bullet">At the end of this lesson, you will be able to:</p>
        <ul class="bullet">
            <li>Define primary accounting concepts and principles</li>
            <li>Use accounting terminology in a business context</li>
            <li>Explain components of the accounting equation</li>
            <li>Use the accounting equation to record business transactions</li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
<html>
    <head>
        <title>Checklist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_checklist"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 1: Accounting &amp; the Business Environment<br>
        <strong>Checklist</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_01.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top">Lesson 1 Checklist</div>
        <p class="bullet">Complete the following tasks:</p>
        <ul class="bullet">
            <li>Read  in your textbook, <em>Accounting</em>,  9th edition:
            <ul class="bullet">
                <li>Chapter  1, "Accounting and the Business Environment" (pp. 1-61)</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>View  the online Lesson Presentation</li>
        </ul>
        <ul class="bullet">
            <li>Participate  in the Discussion Forum:
            <ul class="bullet">
                <li>Introduction</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>Complete these Assignments:
            <ul class="bullet">
                <li>Assignment  1.1: Accounting and the Business Environment</li>
                <li>Assignment  1.2: Accounting Practices</li>
                <li>Assignment  1.3: Quiz Lesson 1</li>
            </ul>
            </li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
