<html>
    <head>
        <title>Objectives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_objectives"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 10: Plant Assets &amp; Intangibles<br>
        <strong>Objectives</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_10.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top"><strong>Lesson 10 Objectives</strong></div>
        <p class="bullet">At the end of this lesson, you will be able to:</p>
        <ul class="bullet">
            <li>Define  terms related to business accounting</li>
            <li>Explain  the general rule for measuring cost</li>
            <li>Describe  how measuring plant asset depreciation is achieved</li>
            <li>Explain  how depreciation affects income taxes</li>
            <li>Select  the best depreciation method for tax purposes</li>
            <li>Identify  natural resources and intangible assets</li>
            <li>Account for natural resources and intangible  assets</li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
<html>
    <head>
        <title>Checklist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_checklist"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 10: Plant Assets &amp; Intangibles<br>
        <strong>Checklist</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_10.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top">Lesson 10 Checklist</div>
        <p class="bullet">Complete the following tasks:</p>
        <ul class="bullet">
            <li>Read  in your textbook, <em>Accounting</em>,  9th edition:
            <ul class="bullet">
                <li>Chapter  9, "Plant Assets and Intangibles" (pp. 452-495)</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>View  the online Lesson Presentation</li>
        </ul>
        <ul class="bullet">
            <li>Participate  in the Discussion Forum:
            <ul class="bullet">
                <li>Western  Bank and Trust</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>Complete these Assignments:
            <ul class="bullet">
                <li>Assignment  10.1: Plant Assets and Intangibles</li>
                <li>Assignment 10.2: Asset Cases</li>
                <li>Assignment 10.3: Quiz Lesson 10</li>
            </ul>
            </li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
