<html>
    <head>
        <title>Objectives</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_objectives"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 3: The Adjusting Process<br>
        <strong>Objectives</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_03.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top"><strong>Lesson 3 Objectives</strong></div>
        <p class="bullet">At the end of this lesson, you will be able to:</p>
        <ul class="bullet">
            <li>Define  the revenue principle and the matching principle</li>
            <li>Explain  the difference between accrual and cash-basis accounting</li>
            <li>Apply  the revenue and matching principles to the accounting equation</li>
            <li>Articulate  the importance of adjusting entries as a key to accrual accounting</li>
            <li>Make  adjusting entries</li>
            <li>Prepare  an adjusted trial balance</li>
            <li>Prepare  the financial statements from the adjusted trial balance</li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
<html>
    <head>
        <title>Checklist</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        <div id="header1">
        <div class="header_left_checklist"></div>
        <div class="header_middle">
        <p class="header_title">Lesson 3: The Adjusting Process<br>
        <strong>Checklist</strong></p>
        </div>
        <div class="header_right"></div>
        </div>
        <div id="content1"> <img src="http://media.pearsoncmg.com/pcp/pls_coco_2/accounting_1/images_css/images/img_b_03.jpg" class="margin_right" width="340" height="350">
        <div class="title_blue_top">Lesson 3 Checklist</div>
        <p class="bullet">Complete the following tasks:</p>
        <ul class="bullet">
            <li>Read  in your textbook, <em>Accounting</em>,  9th edition:
            <ul class="bullet">
                <li>Chapter  3, "The Adjusting Process" (pp. 130-197)</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>View  the online Lesson Presentation</li>
        </ul>
        <ul class="bullet">
            <li>Participate  in the Discussion Forum:
            <ul class="bullet">
                <li>Ethics</li>
            </ul>
            </li>
        </ul>
        <ul class="bullet">
            <li>Complete these Assignments:
            <ul class="bullet">
                <li>Assignment  3.1: The Adjusting Process</li>
                <li>Assignment  3.2: Cases and the Adjusting Process</li>
                <li>Assignment  3.3: Quiz Lesson 3</li>
            </ul>
            </li>
        </ul>
        </div>
        <div id="footer1">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
        </div>
        </div>
    </body>
</html>
