<%@summarylightbulbs.each do |lightbulb|%>
  <h6><%=lightbulb.lesson.title%></h6>
  <center>
  <div class="card-panel teal" id = "summary">
    <img src ='http://s13.postimg.org/6n2pzw1zb/image.png'id = 'resultbulb'></img>
  <p><%=lightbulb.summary%></p>
  </div>
  </center>
<%end%>
