/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "materialize/components/color";

.btn {
  background:lightseagreen;
}

.btn:hover, .btn-large:hover {
  background-color: orange;
 }

#side {
  float:right;
}

 td {
   padding: 0px;
   display: table-cell;
   text-align: left;
   vertical-align: middle;
   border-radius: 2px;
 }

 table.highlight > tbody > tr:hover {
   background-color: #e1e8ed;
 }


 body {
   background: rgba(55, 182, 233, .1)!important;
 }

.modal .modal-content {
  padding: 30px;
}

label {
   font-size: 15px;
 }

 .btn {
   background: #F62459;
   width: 30px;
   height: 25px;
   float: right;
   padding: 0;
   line-height: 25px;
   padding-left: 10px;
   padding-right: 55px;
 }

.homepage {
   font-family: 'Lato', sans-serif;
   margin: 0 auto;
   text-align: center;

   h1 {
      margin-top: 13%;
      font-size: 150px;
      }

    h3 {
      padding: 20px;
      margin: 35px;
      }

    a {
      background-color:#fbaa19;
      color: black;
      font-size: 30px;
      padding:10px 15px;
      margin: 10px;

    }
    a:hover {
      color: black;
      background-color: lighten(#fbaa19, 10%);
      height: 10px;
}
 }

 #hpbackground {
     img {
       width: 155%;
       height:100%;
       opacity: .65;
   }
 }

 #bg {
   img {
     width: 155%;
     height: 100%;
     opacity: .85;
   }
 }

 input {
   line-height: normal;
   font-size: 18px;
 }

#hpbackground {
    img {
      width: 115%;
      height:100%;
      opacity: .65;
  }
}

#bg {
  img {
    width: 115%;
    height: 100%;
    opacity: .85;
  }
}
.lblinks {
  padding:10px;
  float:right;
}

.signup {
    background: #e1e8ed;
    width: 400px;
    padding: 20px;
    display: inline-block;
    margin-left: 35%;
    margin-top: 10%;
    font-family: 'Lato';
    text-align:center;
  }

.btn, .btn-large {
  background: lightseagreen !important;
}
