.assignments {
  padding:20px;
  margin-left:50px;
  margin-right:50px;
  border: solid 1px grey;
  border-radius: 3px;
  margin-top:5%;
}

h3 {
  text-transform: uppercase;
  font-family: 'Lato';
}

#modal1 {
  padding:20px;
}

table.highlight > tbody > tr:hover {
  background-color: grey;
}


#submitbutton {
    background: #F62459;
    margin-right: 80px;
}

#viewlightbulbs {
  background: #F62459;
  width: 100px;
  height: 50px;
}

#viewlightbulb.row.card-panel.teal{
  background: #FFD452 !important;
  opacity: .8;
  height: 10%;
  padding: 5px;
  width: 60%;
}
