body {
  background: #fff !important;
}

a.modal-style.btn {
  width: inherit;
  padding: 7px;
  img {
    width:35px;
    height:35px;
    margin-left:5px;
  }
}

#submitbutton {
  background: #F62459;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  height: 40px;
    a {
      margin-top:4px;
    }
    a:hover {
      background-color: orange;
    }
}

#submitbutton:hover {
  background-color: orange;
}

.assignments {
  padding:20px;
  margin-left:50px;
  margin-right:50px;
  border: solid 1px grey;
  border-radius: 3px;
  margin-top:5%;
}

h3 {
  text-transform: uppercase;
  font-family: 'Lato';
}

#modal1 {
  padding:20px;
}

table.highlight > tbody > tr:hover {
  background-color: grey;
}

#viewlightbulbs.modal-trigger.btn {
  background: #F62459;
  width: 100px;
  margin-bottom: 15px;
  padding-top:7px;
  height: 40px;
}

#viewlightbulbs.modal-trigger.btn:hover {
    background-color: orange;
}

#viewlightbulb.row.card-panel.teal{
  background: #FFD452 !important;
  opacity: .8;
  height: 10%;
  padding: 5px;
  width: 60%;
}

#viewlightbulbs.row.card-panel.teal{
  background: #FFD452 !important;
  opacity: .8;
  height: 10%;
  padding: 5px;
  width: 60%;
}

.modal.modal-content {
    padding: 0px;
    height: 40px;
}

#createlightbulbbutton {
  height: 40px;
  width: 50px;
}
