// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-panel.teal {
    background-color: #FFD452 !important;
    h6 {
      font-weight: bold;
    }
}

#side {
  height:80px;
}
input {
  width: 100%;
  text-align:center;
  height:50px;
  text-align: center;
  #searchbar {
    font-size: 25px;
      .search.full.width {
        font-size: 5px;
      }
  }
}

img {
  width:50px;
  height:50px;
  float:left;
}

.searchbar {
  width: 100%;
    h6 {
      text-align: center;
    }
      p {
        text-align:center;
        font-size:14px;
      }
}

.result {
        padding:20px;
        font-size: 15px;
        border: dotted 1px;
        background: #E4E4E4;
        border-radius: 20px;
        margin-left: 20px;
        width:350px;
}

.row .col.s2 {
  width: 19%;
  margin-left: 0;
}

h6 {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align:center;
  text-transform: uppercase;
  margin-left: 20%;
}
.lbmoment {
  padding:20px;
  height: 80px;
  font-size: 15px;
  border: dotted 1px;
  background: #E4E4E4;
  border-radius: 20px;
  // width: 120%;
  margin-left: 20px;
}

// .sidebar {
//   background-color:#e1e8ed;
//   float:left;
//   padding:20px;
//   width:20%;
//   text-align:center;
//   height:100vh;
//    ul {
//      width:100%;
//      padding-left:10px;
//      padding-right:10px;
//      font-size:20px;
//     a {
//     }
//      a:hover {
//        background-color: grey;
//        }
//    }
// }

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 250px;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #bd0e36;
  color: #ffffff;
  border-bottom: 1px solid #5e071b;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
  background: #ed1144;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #bd0e36;
}
#cssmenu span.cnt {
  position: absolute;
  top: 13px;
  right: 5px;
  margin: 0;
  background: none;
}
/* Sub menu */

#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border: 1px solid #ed1144;
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 10px;
  display: block;
  color: #ed1144;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #bd0e36;
}
#cssmenu ul ul li.odd {
  background: #f4f4f4;
}
#cssmenu ul ul li.even {
  background: #fff;
}
