.background {
  #bg {
    opacity: 0.80;
    width:100%;
  }
}

.login {
    background: #e1e8ed;
    width: 400px;
    padding: 40px;
    display: block;
    margin-top: 10%;
    font-family: 'Lato';
    text-align:center;
  }
