<div class = 'about'>
Lightpath helps students study more efficiently and study for mastery by tracking and recording "lightbulb moments"
(when the concept "clicks" with a student).
Students will interact with course content (assignments, readings, and online quizzes) on the application.
Once they demonstrate mastery of a concept (indicated by quiz performance, or by personal realization of understanding),
the student will be prompted to record a "lightbulb moment" by either:
<p>
A) Concisely summarizing the concept is his/her own words
</p>
<p>
B) Linking videos, articles, or other resources that brought on the "lightbulb moment" for easy future reference
</p>

Progressing through a course, the student records a lightbulb for each concept.
Eventually, an entire path of "lightbulb moments" is established. At that point, the student can revisit past lightbulb moments
and solidify understanding without rereading entire chapters or redoing all course assignments.
Receiving, processing, and internalizing large amounts of information is overwhelming.
Lightpath illuminates this path to mastery.
</div>
