  STYLE STYL STYLE
<div class = 'about'>
  <%=@content%>
<p>Lightpath helps students study more efficiently and study for mastery by tracking and recording "lightbulb moments"
(when the concept "clicks" with a student). </p>
<p>
Students will interact with course content (assignments, readings, and online quizzes) on the application.
While interacting with course materials, when a student has a "lightbulb moment" he/she can record what prompted the understanding
by:
</p>
<p>
A) Concisely summarizing the concept is his/her own words
</p>
<p>
B) Linking videos, articles, or other resources that brought on the "lightbulb moment" for easy future reference
</p>
<p>Progressing through a course, a student records mulitple lightbulbs, eventually creating a "lightpath" through the course.
By revisiting these lightbulbs, the student can solidify understanding without rereading entire chapters or
redoing all course assignments.</p>
<p>Lightbulbs are searchable by course -- students can search for their classmates' lightbulb moments, shareable between classmates,
and can be favorited to save for easy reference.</p>

<p>Receiving, processing, and internalizing large amounts of information is overwhelming.
Lightpath illuminates this path to mastery.</p>
</div>
