<div class= 'homepage'>
<h1>  LIGHTPATH </h1>
<h3> illuminate the path to mastery </h3>
<%=link_to 'I am a Student', new_student_session_path%>
<%=link_to 'I am a Teacher', new_teacher_session_path%>
</div>
